<% projects.each( function (project) { %>
  <li>
    <a class="" href="#/projects/<%= project.id %>">
      <%= project.escape('title') %>
    </a>
  </li>
<% }) %>
<li class="divider"></li>
<li><a class="" href="#">All Projects</a></li>