<div class="page-header container">
  <div class="page-title">
    <h2>
      <%= project.escape('title')%>
    </h2>
  </div>
  <div id="add-story" class="pull-right">
    <button class="btn btn-success">Add Story</button>
  </div>
</div>
<div id="project-panels" class="">
</div>