<div class="jumbotron login">
  <h2>Welcome back to <em>cellō-dev</em>!</h2>

  <%= render partial: "users/form", locals: {
    user: @user,
    action: session_url,
    method: "post",
    message: "Log in!" } %>
  
  <p>Not signed up yet? <%= link_to "Create an account!", new_user_url %></p>
</div>