<div class="iteration-header clearfix col-md-12 no-selection">
  <span class="iteration-toggle pull-left glyphicon glyphicon-chevron-down"></span>
  <div class="iteration-title pull-left">Week | <%= moment(iteration.get('start_date')).format('ddd DD MMM YYYY') %></div>
</div>
<div class="story-views done clearfix show no-selection"></div>
<div class="story-views started clearfix show no-selection"></div>
<div class="story-views unstarted clearfix show no-selection"></div>