<span class="init-edit pull-left glyphicon glyphicon-chevron-right"></span>
<div class="story-preview clearfix show no_selection">
  <div class="story-title pull-left"><%= story.escape('title') %></div>
  <div class="story-buttons pull-right"></div>
</div>
<div class="story-body no_selection"></div>