<span class="init-edit pull-left glyphicon glyphicon-chevron-right"></span>
<div class="story-preview clearfix show no-selection">
  <div class="story-buttons pull-right"></div>
  <div class="story-title pull-left"><%= story.escape('title') %> - <%= story.escape('story_rank')%></div>
</div>
<div class="story-body no_selection"></div>