<% var state = story.get('story_state') %>
<% if (state === 'unstarted' || state === 'unscheduled') { %>
  <% if (typeof story.get('story_points') === 'number') { %>
    <button class="btn btn-primary btn-xs story-action story-start">Start</button>
  <% } else { %>
    <button class="btn btn-default btn-xs story-action story-point-assign" data-points="0">0</button>
    <button class="btn btn-default btn-xs story-action story-point-assign" data-points="1">1</button>
    <button class="btn btn-default btn-xs story-action story-point-assign" data-points="2">2</button>
    <button class="btn btn-default btn-xs story-action story-point-assign" data-points="3">3</button>
  <% } %>
<% } else if (state === 'started') { %>
  <button class="btn btn-success btn-xs story-action story-finish">Finish</button>
<% } else if (state === 'finished') { %>
  <button class="btn btn-warning btn-xs story-action story-deliver">Deliver</button>
<% } else if (state === 'delivered') { %>
  <button class="btn btn-primary btn-xs story-action story-accept"><span class="glyphicon glyphicon-ok"></button>
  <button class="btn btn-primary btn-xs story-action story-reject"><span class="glyphicon glyphicon-ban-circle"></button>
<% } else if (state === 'rejected') { %>
  <button class="btn btn-warning btn-xs story-action story-restart">Restart</button>
<% } else if (state === 'accepted') { %>
  <button class="btn btn-default btn-xs story-accepted-date" disabled>Accepted: <%= moment(story.get('date_completed')).format('DD MMM [@]HH[:]MM') %></button>
<% } %>