<div id="content" class="container-fluid">
  <div id="about-me" class="col-md-7">
    <div>
      <h2>Welcome to cellō-dev!</h2>
    </div>
    <div class="col-md-12">
     
    </div>
    <div>
      <p>Not signed up yet?</p>
      <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new-user-modal">Join us!</button>
      <strong>OR</strong>
      <button id="demo-sign-in" class="btn btn-primary btn-lg">Check out a demo account</button>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel col-md-12">
      <div class="panel-header">
        <h2>
          About cellō
        </h2>
      </div>
      <div class="panel-body">
        <p>
          I hope to build this into 
        </p>
        <p>
          If you're fed up of using ill-conceived or over-featured task management software, I hear you. Having used a variety of these sorts of programs, I wanted to build one for myself and try to learn more about which features work and which are just in the way. It turns out that my ideas came together into something quite similar to <a href="http://www.pivotaltracker.com/">Pivotal Tracker</a>, though I had not previously used it. Once I determined that, I set out to build my own version, and here you are...
        </p>
      </div>
    </div>
  </div>
</div>