/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

.panel.stories-panel {
  padding: 0px;
  .panel-heading {
    font-size: 20px;
  }
}

.panel-body.story-views {
  padding: 0px;
  &> div.story-show {
    position: relative;
    border: thin solid rgb(221, 221, 221);
  }
}
.projects-show .page-header {
  margin-top: 0px;
  h2 {
    margin-top: 5px;
  }
  div {
    float: left;
  }
  
}

//.story-show .story-body {
//  position: absolute;
//}