/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Condensed:400,700&subset=latin,latin-ext);

@import "bootstrap";

@import "bootswatch-slate";

.latin {
  font-family: 'Nova Script', cursive;
}
.nerd {
  font-family: 'Press Start 2P', cursive;
  font-size: 8pt;
}
.bit-bigger {
  font-size: 16pt;
}
.std-font {
  font-family: 'Roboto Condensed', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

form label {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.navbar-header {
  padding-left: 2pc;
  img {
    height: 50px;
    padding-top: 3px;
    padding-bottom: 3px;
    
    &:hover {
      -webkit-filter: invert(50%);  
    }
  }
  a {
    height: 50px;
    padding: 0px;
  }
}

#about-me {
  height: 800px;
}

div.panel-holder {
    overflow-x: auto;
    white-space: nowrap;

    .panel {
        display: inline-block;
        float: left; /* Very important */
    }
}

.modal-header button {
  color: #FF0000;
}

#project-panels {
  width: 2200px;
  height: 100%;
  overflow-x: auto;
  padding-left: 1pc;
  padding-right: 1pc;
  
  &> .panel {
    
    padding: 0px;
    margin: 1pc;
    width: 500px;
    color: rgb(200, 200, 200);
    
    .panel-heading {
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
    }
    .panel-body {
      padding: 0px;
      &> div.iteration-show {
        position: relative;
        &> div {
          padding: 0px;
        }
      }
    }
  }
}

.story-views.unstarted {
  min-height: 22px;
}

.home-def h2 {
  color: #708e90;
}

input[type="submit"] {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.story-show {
  overflow-x: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  position: relative;
  margin: 2px;
//  -webkit-transition: padding 200ms linear 0.2s;
//  -moz-transition: padding 200ms linear 0.2s;
//  -o-transition: padding 200ms linear 0.2s;
//  transition: padding 200ms linear 0.2s;
  
//  .points-holder {
//    font-size: 8pt;
//    letter-spacing: -1.9pt;
//  }
  
  .story-buttons {
//    display: inline-block;
  }
  
  .story-buttons button:not(.story-accepted-date) {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    -webkit-transition: left 70ms linear 0.07s;
    -moz-transition: left 70ms linear 0.07s;
    -o-transition: left 70ms linear 0.07s;
    transition: left 70ms linear 0.07s;
    left: 100px;
    
    border-radius: 0px;
    border: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 22px;
  }
  
  &:hover {
    .story-buttons button {
      left: 0;
    }
  }
  
  .story-title {
    padding: 1px;
    width: 367px;
    white-space: normal;
  }
  
  &.accepted {
    background: #545E48;
  }
  &.started,&.finished,&.delivered {
    background: #5E4948;
  }
  &.unstarted {
    background: #344454;
  }
  &.rejected {
    background: #D4C872;
    .story-preview:not(button),.init-edit {
      color: #2E3338;
    }
  }
  &.unscheduled {
    background: #C8C8C8;
    .story-preview:not(button),.init-edit {
      color: #2E3338;
    }
  }
}

.projects-list {
  font-family: 'Roboto Condensed', sans-serif;
}

.story-form {
  background: #5E5948;
  margin: -2px -2px -2px 0px;
  padding: 1pc;
  form input:not(.submit),select,textarea {
    background-color: rgba(255, 255, 255, 0.5);
  }
  button.btn-warning {
    margin-left: 10px;
  }
}

.init-edit,.iteration-toggle {
  margin-right: 1pc;
  margin-top: 3px;
}

.projects-show .page-header {
  margin-top: 0px;
  h2 {
    margin-top: 5px;
  }
  div {
    float: left;
  }
  label {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }
  button {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
  }
}

.no-selection,.story-views {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.jumbotron.login {
  padding: 2pc;
  h2 {
    margin-top: 0px;
  }
  p {
    margin-bottom: 0px;
  }
}

form.user-form {
  padding-top: 1pc;
  padding-bottom: 1pc;
}