/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

@import "bootswatch-slate";

#project-panels {
  overflow-x: scroll;
  padding: 0pc 1pc;
  
  &> .panel {
    padding: 0px;
    margin: 1pc;
    width: 500px;
    float: left;
    color: rgb(200, 200, 200);
    
//    .panel-body {
//      overflow-y: scroll;
//      height: 800;
//    }
    
    .panel-heading {
      font-size: 20px;
    }
  }
}

.story-views.unstarted {
  min-height: 22px;
}

.story-show {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  position: relative;
  margin: 2px;
  -webkit-transition: padding 200ms linear 0.2s;
  -moz-transition: padding 200ms linear 0.2s;
  -o-transition: padding 200ms linear 0.2s;
  transition: padding 200ms linear 0.2s;
  
  &:hover {

  }
  
  .story-title {
    padding: 1px;
    width: 310px;
  }
  
  &.accepted {
    background: #545E48;
  }
  &.started,&.finished,&.delivered {
    background: #5E4948;
  }
  &.unstarted {
    background: #344454;
  }
  &.rejected {
    background: #D4C872;
    .story-preview:not(button),.init-edit {
      color: #2E3338;
    }
  }
  &.unscheduled {
    background: #C8C8C8;
    .story-preview:not(button),.init-edit {
      color: #2E3338;
    }
  }
}

.story-form {
  background: #5E5948;
  margin: -2px -2px -2px 0px;
  padding: 1pc;
  form input:not(.submit),select,textarea {
    background-color: rgba(255, 255, 255, 0.5);
  }
  button.btn-warning {
    margin-left: 10px;
  }
//  * {
//    margin: 2px;
//    border: 0px;
//  }
}

//.story-buttons button {
//  &.story-accept {
//    color: #148714;
//    background: #284B7E;
//    &:hover {
//      background: #052F6D;
//    }
//  }
//  &.story-reject {
//    color: #871414;
//  }
//}

.panel-body {
  padding: 0px;
  &> div.iteration-show {
    position: relative;
//    border: thin solid rgb(221, 221, 221);
    &> div {
      padding: 0px;
    }
  }
}

.init-edit,.iteration-toggle {
  margin-right: 1pc;
  margin-top: 3px;
}

.projects-show .page-header {
  margin-top: 0px;
  h2 {
    margin-top: 5px;
  }
  div {
    float: left;
  }
}

.no-selection {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

//.story-show .story-body {
//  position: absolute;
//}